@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.referAndEarn {
    border-radius: 24px 0 0 0;
    border-top: 1px solid #66666693;
    border-left: 1px solid #66666693;
    min-height: calc(100dvh - 126px);
    background: #0F0F0F;
    padding: 32px;
    min-height: calc(100dvh - 126px);

    @include respond-to("xl") {
        padding: 22px;
        min-height: calc(100dvh - 93px);
    }


    @include respond-to("md") {
        background-color: transparent;
        border: none;
        padding: 24px 20px 24px 20px;
    }

    @include respond-to("sm") {
        min-height: auto;
    }

    .title {
        padding: 0 0 23px 0;

        h2 {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            @include heading-font;
            @include gradient-text;
        }
    }
}