@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.certificatesList {
    background-color: #0C0C0C;
    padding: 120px 0;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        .items {
            img {
                display: block;
                width: 100%;
            }
        }
    }

    .buttonDesign {
        display: flex;
        padding: 32px 0 0 0;
        justify-content: center;

        button {
            border: 1px solid var(--GOLD, #f9f490);
            padding: 14px 34px;
            background: transparent;
            border-radius: 99px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }


            span {
                @include font-medium;
                font-weight: 500;
                font-style: Medium;
                background: var(--GOLD, linear-gradient(90deg, #f9f490 0%, #e4ab40 25.48%, #fefba5 75%, #bd894e 100%));
                -webkit-text-fill-color: #0000;
                -webkit-background-clip: text;
                background-clip: text;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;


            }
        }
    }
}