@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.notifications {
    border-radius: 24px 0 0 0;
    border-top: 1px solid #66666693;
    border-left: 1px solid #66666693;
    background: #0F0F0F;
    padding: 32px;

    @include respond-to("xl") {
        padding: 22px;
    }

    .title {
        padding: 0 0 23px 0;

        h2 {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            @include heading-font;
            @include gradient-text;
        }
    }

    .allBoxAlignment {
        .box:last-child {
            margin: 0;
        }

        .box {
            border-radius: 24px;
            padding: 24px;
            background: #000;
            margin: 0 0 16px 0;
            position: relative;
            transition: all 0.3s ease;

            &.read {
                opacity: 0.5;
                filter: grayscale(0.2);
            }

            &::before {
                @include border;
            }

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include font-normal;
            }

            .boxHeader {
                display: grid;
                grid-template-columns: 1fr 200px;
                gap: 10px;
                padding: 0 0 12px 0;
                align-items: center;

                .leftAlignment {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    img {
                        display: block;
                    }

                    h4 {
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        @include font-medium;
                        color: #fff;
                        line-height: normal;
                    }
                }

                span {
                    display: block;
                    text-align: right;
                    @include font-medium;
                    color: #fff;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
    }
}

.skeleton {
    background: linear-gradient(90deg, #1f1f1f 25%, #2a2a2a 50%, #1f1f1f 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 4px;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.skeletonBox {
    border-radius: 24px;
    padding: 24px;
    background: #000;
    margin: 0 0 16px 0;
    position: relative;

    &::before {
        @include border;
        opacity: 0.3;
    }

    .skeletonHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        .skeletonLeft {
            display: flex;
            align-items: center;
            gap: 24px;

            .skeletonIcon {
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }

            .skeletonTitle {
                width: 200px;
                height: 24px;
            }
        }

        .skeletonTime {
            width: 100px;
            height: 18px;
        }
    }

    .skeletonDesc {
        width: 100%;
        height: 20px;
        margin-top: 8px;
    }
}