@use '../../../../scss/main.scss' as *;
@use '../../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../../scss/font/font.scss' as *;

.economicCalendarBanner {
    background-image: url('/assets/images/short-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 260px 0 160px 0;

    h1 {
        color: #F5F5F5;
        text-align: center;
        font-size: 62px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
        @include heading-font;
        margin: 0 0 10px 0;

        span {
            @include gradient-text;
        }
    }

    p {
        color: rgba(255, 255, 255, 0.70);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        @include font-normal;
        text-align: center;
        line-height: normal;
    }
}