body {
  margin: 0;
  padding: 0;
  font-family: "SFPRODISPLAYREGULAR";
  background: #000;
}

html {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin: 0;
}

button {
  outline: none;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-md {
  max-width: calc(1440px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.user-panel-layout {
  display: flex;
  background: #000;
}

.sidebar-panel {
  width: 260px;
}

.children-layout {
  width: calc(100% - 260px);
}

img {
  user-select: none;
  -webkit-user-drag: none; /* Chrome, Safari */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* Width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(
    --GOLD,
    linear-gradient(
      90deg,
      #f9f490 0%,
      #e4ab40 25.48%,
      #fefba5 75%,
      #bd894e 100%
    )
  );

  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: var(
    --GOLD,
    linear-gradient(
      90deg,
      #f9f490 0%,
      #e4ab40 25.48%,
      #fefba5 75%,
      #bd894e 100%
    )
  );
}
