@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.mobileHeader {
    padding: 8px 20px;
    border-bottom: 1px solid var(--GOLD, #F9F490);
    background: #0F0F0F;
    display: none;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    justify-content: space-between;

    @include respond-to("md") {
        display: flex;
    }

    .leftAlignment {
        display: flex;
        align-items: center;
        gap: 24px;

        .logo {
            img {
                max-width: 72px;
                display: block;
                cursor: pointer;
            }
        }

        .mobileMenu {
            width: 34px;
            min-width: 34px;
            max-width: 34px;

            img {
                display: block;
                cursor: pointer;
            }
        }
    }

    .searchIcon {
        img {
            display: block;
            cursor: pointer;
        }
    }
}

.mobilesidebar {
    background: #0F0F0F;
    height: calc(100dvh - 89px);
    position: fixed;
    max-width: 260px;
    top: 89px;
    left: 0;
    width: 100%;
    z-index: 9999;

    &.hide {
        transform: translateX(-100%);
        transition: .3s ease-in-out;
    }

    &.show {
        transform: translateX(0%);
        transition: .3s ease-in-out;
    }

}