@use '../../../../scss/main.scss' as *;
@use '../../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../../scss/font/font.scss' as *;

.referAndEarnTab {
    border-bottom: 1px solid #272727;
    display: flex;
    margin: 0 0 32px 0;
    align-items: center;
    gap: 0px;

    @include respond-to("sm") {
        overflow: auto;
        scrollbar-width: none;
    }

    button {
        background-color: transparent;
        padding: 16px 24px;
        border: none;
        color: #FFF;
        cursor: pointer;
        @include font-medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: relative;
        transition: color 0.3s ease;

        @include respond-to("sm") {
            white-space: nowrap;
        }

        &:hover {
            background: linear-gradient(90deg, #F9F490 0%, #E4AB40 33%, #FEFBA5 66%, #BD894E 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: 600;

            &::before {
                width: 100%;
                background: linear-gradient(90deg, #F9F490 0%, #E4AB40 33%, #FEFBA5 66%, #BD894E 100%);
            }
        }

        &.active {
            background: linear-gradient(90deg, #F9F490 0%, #E4AB40 33%, #FEFBA5 66%, #BD894E 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: 600;

            &::before {
                width: 100%;
                background: linear-gradient(90deg, #F9F490 0%, #E4AB40 33%, #FEFBA5 66%, #BD894E 100%);
            }
        }

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            content: " ";
            background: linear-gradient(90deg, #F9F490 0%, #E4AB40 33%, #FEFBA5 66%, #BD894E 100%);
            height: 2px;
            width: 0;
            transition: .4s ease-in-out;
        }
    }
}