@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;
@use "../../../scss/font/font.scss" as *;

.aboutUsSection {
  padding: 120px 0 120px 0;
  background: #0c0c0c;
  position: relative;

  @include respond-to("xl") {
    padding: 120px 0 100px 0;
  }

  @include respond-to("sm") {
    padding: 60px 0 60px 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 617px;
    gap: 110px;
    align-items: center;

    @include respond-to("md") {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    .buttonDesign {
      @include respond-to("sm") {
        display: flex;
        justify-content: center;
      }

      button {
        border: 1px solid var(--GOLD, #f9f490);
        padding: 14px 34px;
        background: transparent;
        border-radius: 99px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          transition: all 0.3s ease-in-out;
        }

        span {
          @include font-medium;
          font-weight: 500;
          font-style: Medium;
          background: var(
            --GOLD,
            linear-gradient(
              90deg,
              #f9f490 0%,
              #e4ab40 25.48%,
              #fefba5 75%,
              #bd894e 100%
            )
          );
          -webkit-text-fill-color: #0000;
          -webkit-background-clip: text;
          background-clip: text;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }
    }

    .griditems {
      p {
        @include font-normal;
        color: rgba(255, 255, 255, 0.7);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        max-width: 711px;
        line-height: normal;
        margin: 0 0 38px 0;

        @include respond-to("sm") {
          text-align: center;
          font-size: 20px;
          line-height: normal;
        }
      }

      .imageGallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        @include respond-to("sm") {
          gap: 15px;
        }

        .image {
          overflow: hidden;
          border-radius: 12px;
          width: 100%;
          height: 600px;

          @include respond-to("md") {
            height: 350px;
          }

          @include respond-to("sm") {
            height: 300px;
          }

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
          }
        }
      }

      .image {
        img {
          display: block;
          width: 100%;
        }
      }

      h2 {
        @include gradient-text;
        margin: 0 0 27px 0;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
        @include heading-font;

        @include respond-to("sm") {
          @include heading32;
          text-align: center;
        }
      }
    }
  }
}
