.skeletonBox {
    cursor: default;

    .skeletonDetailsBox {
        border-radius: 20px;
        padding: 20px;
        margin: 0 20px 20px 20px;
        background: #0C0C0C;
        position: relative;
        max-width: 90%;

        @include respond-to("sm") {
            max-width: 248px;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 20px;
            padding: 1px;
            background: linear-gradient(180deg, #666666 0%, #000000 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
            pointer-events: none;
        }

        .statItem {
            display: block;
        }
    }

    .contentBody {
        padding: 0 20px;

        .titleSection {
            margin: 22px 0 16px 0;
        }

        .planSection {
            margin: 12px 0;
            width: 100%;
            height: 10px;
            background: #fff3;
            border-radius: 50px;
            position: relative;
            overflow: hidden;

            .skeletonPlan {
                height: 100%;
                width: 100%;
                border-radius: 50px;
            }
        }

        .actionBtn {
            margin-top: 8px;
        }
    }
}

.skeleton {
    background: linear-gradient(90deg, #1f1f1f 25%, #2a2a2a 50%, #1f1f1f 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

.skeletonText {
    border-radius: 4px;
}

.skeletonTitle {
    width: 100%;
    height: 24px;
    border-radius: 4px;
}

.skeletonButton {
    width: 80px;
    height: 16px;
    border-radius: 4px;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}